body {
    background: #2c2c2c;
    color: #EDEDED; /* Светлый текст для основного контента */
    font-family: Arial, sans-serif; /* Установка стандартного шрифта */
}

aside {
    float: left;
    background: #1C355C; /* Темно-синий фон для бокового меню */
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #64B447; /* Зеленая граница */
}

aside h3, aside .logo {
    color: #64B447; /* Зеленый для заголовков навигации и логотипа */
}

aside a {
    color: #64B447; /* Зеленый цвет ссылок */
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

aside a:hover {
    color: #fff; /* Белый цвет ссылок при наведении */
}

main {
    background-color: #2E2E2E; /* Темный серый для основного контента */
    padding: 20px;
    margin-left: 25%; /* Чтобы контент не налезал на aside */
}

aside img {
   max-width: 100%; /* Логотип занимает всю ширину контейнера */
    height: auto;

}

aside h3{
    margin-top: 45px;
    font-size: 30px;
}

aside ul {
    list-style: none;

}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;

}

aside ul li:hover, aside ul a:hover {
    color: #64B447;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}


