{% extends 'main/layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus eligendi eum eveniet ipsa libero nisi nulla, odit quia quis!</p>
    <button class="btn btn-warning">To page about</button>

    {% for el in values %}
        {% if el == 'Hello'  %}
            <p>{{ el|upper }}</p>
        {% endif %}
    {% endfor %}

    {% for el in obj %}
        <p>{{ el }}</p>
    {% endfor %}

</div>
{% endblock %}
